@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');
$font-family-sans-serif:      "Inter", Roboto, sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;
// Your variable overrides
$theme-colors: (
  "primary": #FF8364,
);

.btn-primary {
  
  color: #fff;
  
  }

@import "/../m6_virtualio_sprint2/node_modules/bootstrap/scss/bootstrap.scss";



